<nav class="navbar">
    <div class="navbar-container">
      <h1 class="nav=bar-heading">Leave Management System</h1>
      <ul class="navbar-menu">
        <li><a  [routerLink]="['Home', employeeId]">Home</a></li>
        <li><a *ngIf="manager" routerLink="AllLeaveApplications">All Leave Applications</a></li>
        <li><a *ngIf="manager" routerLink="AddEmployee">Add Employee</a></li>
        <li><a *ngIf="manager" routerLink="RemoveEmployee">Remove Employee</a></li>
        <li><a *ngIf="employee" [routerLink]="['ApplyLeave',employeeId]">Apply Leave</a></li>
        <li><a *ngIf="employee"[routerLink]="['CheckLeave',employeeId]">Check Leave Application</a></li>
        <li *ngIf="employeeleaves"><a [routerLink]="['EmployeeLeaves',employeeId]">Employee Leaves</a></li>
      </ul>
      <div class="navbar-buttons">
        <button class="btn-profile">
          <a [routerLink]="['Profile',employeeId]" class="btn-profile"><i class="fa-solid fa-user fa-2xl"></i></a>
        </button>
        <button class="btn-logout" (click)="logout()">
          <i class="fa-solid fa-power-off fa-2xl"></i>
        </button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>