<div class="leave-table">
    <table>
      <thead>
        <tr>
          <th>Leave ID</th>
          <th>Time</th>
          <th>Date</th>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Leave Start Date</th>
          <th>Leave End Date</th>
          <th>Leave Type</th>
          <th>Leave Reason</th>
          <th>Leave Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of leaves">
          <td>{{ leave.leaveId }}</td>
          <td>{{leave.leaveTime}}</td>
          <td>{{leave.leaveDate}}</td>
          <td>{{ leave.leaveEmployeeId }}</td>
          <td>{{ leave.leaveEmployeeName }}</td>
          <td>{{ leave.leaveStart}}</td>
          <td>{{ leave.leaveEnd }}</td>
          <td>{{ leave.leaveType }}</td>
          <td>{{leave.leaveStatus}}</td>
          <td>{{ leave.leaveReason }}</td>
          <td>
            <button (click)="approveLeave(leave.leaveEmployeeId,leave.leaveId, leave.leaveStart, leave.leaveEnd)">Approve Leave</button>

            <button (click)="rejectLeave(leave.leaveId)">Reject Leave</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  